#container{
    width: 70%;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 20px;
}

#Titulo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: greenyellow;
    background-color: midnightblue;
    border-radius: 5px;
    padding: 2.5px;
    margin: 2.5px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 1.5rem;
}

#head{
    height: 100px;
    background-color:  midnightblue;
    color: greenyellow;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 0 auto !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}

#body2{
    font-family: 'Courier New', Courier, monospace;
}
